@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(../node_modules/bootstrap/scss/bootstrap.scss);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00ddff;
  font-family: "Inter", sans-serif;
  width: 85%;
  max-width: 650px;
  margin: auto;
}

.locationtime .location img, .locationtime .datetime img {
  margin-right: 5px;
}
.locationtime .location {
  display: flex;
  border-bottom: 1px solid rgba(15, 37, 62, 0.5);
}
.locationtime .location h1 {
  display: inline-block;
}
.locationtime .location img {
  display: block;
  margin-top: 10px;
}
.locationtime .datetime {
  margin: 10px 0;
}

.temp-anime {
  border: 2px solid #faf3dd;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 o 10px #faf3dd;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
}
.temp-anime .card-header {
  border-bottom: 2px solid #faf3dd;
}
.temp-anime .tempsection {
  border-right: 1px solid rgb(255, 255, 255);
}

.animationsection img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}

.extrainformation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.extrainformation .card {
  height: 100px;
  width: 200px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 15px #00ddff;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-color: #00ddff;
  border-width: 3px;
}

.sunrisesunset {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em;
}
.sunrisesunset img {
  height: 60px;
  width: 60px;
}
.sunrisesunset .sunrise {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-right: 1px solid rgb(255, 255, 255);
  padding-right: 50px;
}
.sunrisesunset .sunset {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 50px;
}
.sunrisesunset .sunset img {
  align-self: flex-end;
}

.forecast {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.forecast .card {
  border: 2px solid #ffa69e;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px white;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
}
.forecast .card .card-header {
  border-bottom: 2px solid #ffa69e;
}
.forecast .card .list-group-item {
  border-bottom: 1px solid #ffa69e;
}
.forecast .card .list-group-item .weathericon {
  margin-left: 10px;
}
.forecast .card .list-group-item .weathericon, .forecast .card .list-group-item .comingtemptext {
  margin-right: 10px;
}
.forecast .card .list-group-item .data2 {
  font-size: 25px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.modal .modal-content {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.modal h2 {
  position: relative;
  top: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.modal .btn {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.modal .btn-primary {
  background: #7700ff;
  color: white;
}
.modal .btn-secondary {
  background: #333;
  color: white;
}
.modal .btn:hover {
  opacity: 0.8;
}
.modal .search-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: white;
}
.modal .close {
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 30px;
  cursor: pointer;
  color: #aaa;
}
.modal .close:hover {
  color: white;
}

.dress-suggestion, .weather-suggestion {
  border: 4px solid white;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px white;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */